{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='basic.css')}}">

{% endblock %}

{% block title %} Get Me To Town {% endblock %}

{% block content %}
	
	<div class="container-fluid">
		{% for journey in journeys %}
			<div class="row {{ loop.cycle('odd', 'even') }}">
				<div class="col-sm-6 text-center service_name">
					<span class="service_name">{{ journey.service }}</span>
				</div>
				<div class="col-sm-6 text-center service_time">
					<span class="service_time">{{ journey.format_departure(20) }}</span>
					{% if journey.is_late() %}
					<span class="service_late">({{ journey.is_late() | int }} minutes late)</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
